*{
    font-family: 'Raleway', sans-serif;
}

body{       /*Tentative de gérer la disposition et les emplacements des parties du site*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0;
}


/*CSS du Header*/
header, section{
    margin: 0 2%;
}

#menuIPhone{
    display: none;
}

#logo{
    width: 100px;
}

header div:first-child{     /*Le Logo*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

nav ul li{
    margin: 0 30px;
    padding: 30px 0;
}

a:link{
    text-decoration: none;
}

nav ul li a:hover{
    color:  #0065FC;
    border-top: 2px solid  #0065FC;
    padding-top: 2em;
}

a:visited{
    color: black;
    text-decoration: none;
}

ul li:last-child a{
    font-weight: bold;
    color: #0065FC;
}

h1{
    font: bold 1.2em 'Raleway', sans-serif;
}

form{
    display: flex;
    align-items: center;
}

form:first-of-type{
    margin-bottom: 2em;
}

form:first-of-type::before{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    width: 2.5em;
    height: 2.5em;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}

input[type="text"]{
    height: 2.75em;
    border: 1px solid #F2F2F2;
}

input[type="submit"]{
    background-color: #0065FC;
    font-weight: bold;
    color: #FFFFFF;
    height: 3em;
    padding: 0 15px;
    border: 0;
    border-radius: 0 10px 10px 0;
}

.fa-search::before{
    display: none;
}

form p{
    font: bolder 1em 'Raleway', sans-serif;
    margin-right: 1%;
    margin-left: 1%;
}

input[type="checkbox"]{
    display: none;
}

header form:last-child{     /*La barre de Recherche*/
    display: flex;
}

label[for]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.75em;
    border: 2px solid #a8a5a5;
    font: bold 1.2em 'Raleway', sans-serif;
    padding-right: 1%;
    border-radius: 40px;
    font: bolder 1em 'Raleway', sans-serif;
    margin: 0 1%;
}

label[for]:hover{
    color: #FFFFFF;
    background-color: #0065FC;
}

form>label::before{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    width: 2em;
    height: 2em;
    font-weight: 900;
    font-size: 1.5em;
    margin-right: 5px;
    border-radius: 50%;
    transform: translateX(-0.2em);
    color: #0065FC;
    background-color: #DEEBFF;

}

form label:first-of-type::before{
    content: "\f53a";
}

label:nth-of-type(2)::before{
    content:"\f1ae";
}

label:nth-of-type(3)::before{
    content:"\f004";
}

label:last-child::before{
    content: "\f6d3";
}

header p:last-child{
    display: flex;
    align-items: center;
    font: 0.9em 'Raleway', sans-serif;
}

header p:last-child::before{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    width: 1em;
    font-weight: 900;
    font-size: 0.9em;
    margin: 1%;
    padding: 5px;
    border: 2px solid  #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
    content: "\f129";
}
/*Fin du CSS du header*/

h2{
    font: bold 1.2em 'Raleway', sans-serif;
    margin: 2.5em 0 0.25em 2.5em;
}

section:first-of-type{      /*Première Section "Hébergements" et Les plus populaires*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

article{
    width: 63%;
    border-radius: 20px;
    background-color: #F2F2F2;
}

article div{        /*Disposition des hébergements dans la div*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 2%;
}

article figure{
    width: 28%;
    margin-right: 1%;
    margin-left: 1%;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 18px -3px #B4B9BA;
}

article div figure img{     /*Recouvrement des images dans figure(le contenant)*/
    width: 100%;
    height: 7.9em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

article figcaption{     /*Habillage CSS des légendes*/
    border: 5px solid #FFFFFF;
    border-radius: 0 0 20px 20px;
    background-color: #FFFFFF;
    font: 0.9em 'Raleway', sans-serif;
}

article figcaption h3{
    font: bolder 1.4em 'Raleway', sans-serif;
    line-height: 0;
}

article figure p:last-of-type{
    font: bolder 0.85em 'Raleway', sans-serif;
    margin-bottom: 0;
}

article > p{
    font: bolder 1.1em 'Raleway', sans-serif;
    margin: 2.1em 0 3em 3em;
}

figcaption p{
    font: 1.1em 'Raleway', sans-serif;
    line-height: 0.5em;
}

aside figcaption p:last-child{
    margin-top: 5.5em;
    font: 0.85em 'Raleway', sans-serif;
}

.fa-star-full{
    color:#0065FC;
}

.fa-star-empty{
    color: #bbbbbb;
}

aside{      /*Disposition des éléments du aside*/
    display: flex;
    flex-direction: column;
    width: 35%;
    border-radius: 20px;
    background-color: #F2F2F2;
}

aside h2::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1em;
    content:"\f201";
    margin-left: 48%;
}

aside div{      /*Disposition des hébergements dans la div du aside*/
    display: flex;
    flex-direction: column;
}

aside figure {
    display: flex;
    height: 11em;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 18px -3px #B4B9BA;
}

aside img{
    width: 10em;
    height: 11em;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

aside a:nth-of-type(2){
    flex-grow: 2;
}

aside figcaption{
    padding: 3% 10% 1% 11%;
    font: 1em 'Raleway', sans-serif;
    line-height: normal;
    border-radius: 0 20px 20px 0;
    background-color: #FFFFFF;
}

aside h3{
    margin-top: 0;
}

body section:nth-child(3) figure{
    margin: 0;
    box-shadow: 5px 5px 18px -3px #B4B9BA;
}

body section:nth-child(3) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section:nth-of-type(2) h2{
    font: bold 1.2em 'Raleway', sans-serif;
    margin: 2.3em 0 1.5em 0;
}

#gridSectionDeux{       /*Disposition des images de la section 2 par un display:grid*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 125px 50px 100px;
    grid-gap: 50px;
}

#gridSectionDeux figure, img{
    border-radius: 20px;
}

#gridSectionDeux figcaption{
    position: relative;
    bottom: 3em;
    padding-left: 5%;
    border: 5px solid #FFFFFF;
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 5px 18px -3px #B4B9BA;
    background-color: #FFFFFF;
    font: 0.70em 'Raleway', sans-serif;
}

#ImageOne{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#ImageTwo{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#ImageThree{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#ImageFour{
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

#ImageFive{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#ImageSix{
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    padding: 0 3%;
    background-color: #F2F2F2;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer div p{
    line-height: 0.1em;
}
/*Fin du Footer*/

@media screen and (min-width: 800px) and (max-width: 1024px){

    section:first-of-type{
        display: flex;
        flex-direction: column-reverse;
    }

    aside{
        width: auto;
        height: 23em;
        margin-bottom: 1em;
    }

    aside h2::after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1em;
        content: "\f201";
        margin-left: 75%;
    }

    aside div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 2%
    }

    aside figure{
        display: flex;
        flex-direction: column;
        width: 28%;
        margin-right: 0;
        margin-left: 0;
        border-radius: 20px 20px 0 0;
    }

    aside img{
        width: 100%;
        height: 7.9em;
        border-radius: 20px 20px 0 0;
    }

    h3{
        font-size: 1.4em;
        line-height: 1;
    }

    aside figcaption{
        position: relative;
        margin-right: -0.3em;
        margin-left: -0.3em;
        padding: 0;
        border: 5px solid #FFFFFF;
        border-radius: 0 0 20px 20px;
        box-shadow: 5px 5px 18px -3px #B4B9BA;;
        background-color: #FFFFFF;
        font: 0.9em 'Raleway', sans-serif;
    }

    aside figure:nth-of-type(odd) figcaption h3{
        margin-bottom: 1.8em;
    }

    aside figure:nth-of-type(2) figcaption h3{
        margin-bottom: 0.5em;
    }

    aside figcaption p:last-of-type{
        margin-top: 1em;
        margin-bottom: 0;
    }

    article{
        width: auto;
    }

    #gridSectionDeux{
        display: flex;
        flex-wrap: wrap;
    }

    section:last-of-type div figure{
        width: 44%;
        height: 13em;
    }


}

@media screen and (min-width: 400px) and (max-width: 800px){

    nav ul li:nth-of-type(1) a:focus{
        color: #0065FC;
    }

    nav ul li:nth-of-type(2) a:focus{
        color: #0065FC;
    }

    section:first-of-type{
        display: flex;
        flex-direction: column-reverse;
    }

    aside{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    aside h2::after{
        margin-left: 47%;
    }

    aside figure{
        width: 32em;
    }

    aside figure:nth-of-type(odd) p:last-of-type{
        line-height: 4.6em;
    }

    aside figcaption{
        padding-left: 5%;
    }

    article{
        width: 100%;
        margin-top: 2em;
        margin-right: 0;
        margin-left: 0;
    }

    article figure{
        width: 44%;
    }

    #gridSectionDeux{
        display: flex;
        flex-wrap: wrap;
    }

    section:last-of-type div figure{
        width: 44%;
        height: 13em;
    }

}

@media screen and (max-width: 400px){


    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menuDesktop{
        display: none;
    }

    #menuIPhone{
        display: block;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    nav ul li{
        width: 50%;
        margin: 0;
        padding: 0;
    }

    nav ul li:nth-of-type(2){
        display: flex;
        justify-content: end;
        align-items: center;
    }

    nav ul li:nth-of-type(2) a{
        font: bold 1.1em 'Raleway', sans-serif;
        color:  #0065FC;
    }

    nav ul li:nth-of-type(1n+3){
        height: 2em;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
        margin-top: 1.5em;
        font: bold 1.1em 'Raleway', sans-serif;
    }

    nav ul li:nth-of-type(1n+3) a{
        display: block;
        color: black;
        width: 100%;
    }

    nav ul li:nth-of-type(1n+3) a:focus{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 0.8em;
    }

    h1{
        margin-top: 1.5em;
        padding-left: 1.1em;
        font:  bold 1.3em 'Raleway', sans-serif;
    }

    h1 + p{
        text-align: start;
        margin-top: 0;
        margin-left: -1em;
    }

    form:first-of-type::before{
        width: 3em;
        height: 3em;

    }

    form:first-of-type{
        display: flex;
        margin-bottom: 0;
    }

    input[type="text"]{
        width: 77%;
        height: 3.3em;
        margin-right: -3%;
    }


    input[type="submit"]{
        display: none;       
    }

    .fa-search::before{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Font Awesome 5 Free";
        width: 3em;
        height: 3em;
        font-weight: 900;
        font-size: 1em;
        color: #FFFFFF;
        background-color: #0065FC;
        content:"\f002";
        border-radius: 10px;
    }

    form:last-of-type{
        display: flex;
        flex-wrap: wrap;
        padding-left: 1em;
    }

    form p{
        margin-right: 41%;
    }

    label[for]{
        margin-top: 1%;
        margin-bottom: 1%;
        padding-right: 1em;
    }

    header p:last-child{
        margin-right: 0.5em;
        margin-left: 1em;
    }

    header p:last-child::before{
        width: 1.4em;
    }

    section, article, section div, #gridSectionDeux, footer{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    section:first-of-type{
        display: flex;
        flex-direction: column-reverse;
    }

    aside, article{
        width: 100%;
        border-radius: 0;
    }

    h2{
        margin: 1.5em 0 1.5em 1em;
    }

    figcaption p{
        font: 1em 'Raleway', sans-serif;
    }
    
    aside h2::after{
        margin-left: 6.5em;
        font-size: 1.1em;
    }

    aside figure, article figure{
        margin: 1% 1em;
    }

    aside figure{
        height: 9em;
    }

    aside img{
        width: 8em;
        height: 9em
    }

    aside figcaption{
        padding: 4% 10% 1% 7%;
        font-size: 0.95em;
    }
    
    aside figcaption p:last-child{
        margin-top: 2.5em;
    }

    article{
        background-color: #FFFFFF;
    }

    article figure{
        width: 21em;
        margin: 0.5em;
    }

    article > p{
    margin: 2.0em 0 0 1em;
    }

    section:nth-of-type(2){
        margin-left: 1em;
        margin-right: 1em;
    }

    section:nth-of-type(2) figure{
        height: 14.1em;
    }

    #gridSectionDeux figcaption {
        font: 1em 'Raleway', sans-serif;
    }

    footer{
        margin: 5em 0 0 0;
        padding: 1em 0 2em 1em;
    }
}