*{
    font-family: 'Raleway', sans-serif;
}

body{       /*Gestion de la disposition et les emplacements des parties du site*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0;
}

/*CSS du Header*/
header, section{
    margin: 0 2%;
}

#menuIPhone{
    display: none;
}

.logo{
    width: 100px;
}

header div:first-child{     /*Le Logo*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 32em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li{
    text-align: center;
    padding: 1em 1em;
}

a:link{
    text-decoration: none;
}

nav ul li a{
    padding: 1.9em 1em;
}

nav ul li a:hover{
    color:  #0065FC;
    border-top: 2px solid  #0065FC;
    margin-top: 3em;
}

a:visited{
    color: black;
    text-decoration: none;
}

ul li:last-child a{
    font-weight: bold;
    color: #0065FC;
}

h1{
    font: bold 1.2em 'Raleway', sans-serif;
}

form{
    display: flex;
    align-items: center;
}

form:first-of-type{
    margin-bottom: 2em;
}

form:first-of-type::before{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    width: 2.5em;
    height: 2.5em;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}

input[type="text"]{
    height: 2.75em;
    border: 1px solid #F2F2F2;
}

input[type="submit"]{
    background-color: #0065FC;
    font-weight: bold;
    color: #FFFFFF;
    height: 3em;
    padding: 0 15px;
    border: 0;
    border-radius: 0 10px 10px 0;
}

.fa-search::before{
    display: none;
}

form p{
    font: bolder 1em 'Raleway', sans-serif;
    margin-right: 1%;
    margin-left: 1%;
}

input[type="checkbox"]{
    display: none;
}

header form:last-child{     /*La barre de Recherche*/
    display: flex;
}

label[for]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.75em;
    border: 2px solid #F2F2F2;
    font: bold 1.2em 'Raleway', sans-serif;
    padding-right: 1%;
    border-radius: 40px;
    font: bolder 1em 'Raleway', sans-serif;
    margin: 0 1em;
}

label[for]:hover{
    color: #FFFFFF;
    background-color: #0065FC;
}

form>label::before{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    width: 2em;
    height: 2em;
    font-weight: 900;
    font-size: 1.5em;
    margin-right: 0.1em;
    border-radius: 50%;
    transform: translateX(-0.2em);
    color: #0065FC;
    background-color: #DEEBFF;

}

form label:first-of-type::before{
    content: "\f53a";
}

label:nth-of-type(2)::before{
    content:"\f1ae";
}

label:nth-of-type(3)::before{
    content:"\f004";
}

label:last-child::before{
    content: "\f6d3";
}

header p:last-child::before{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    width: 1em;
    font-weight: 900;
    font-size: 0.9em;
    margin: 1%;
    padding: 5px;
    border: 2px solid  #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
    content: "\f129";
}

header p:last-child{
    display: flex;
    align-items: center;
    font: 0.9em 'Raleway', sans-serif;
}

/*Fin du CSS du header*/

main section > h2{
    font: bold 1.4em 'Raleway', sans-serif;
    padding-left: 2em;
    position: relative;
    top: 4em;
}


main section:first-of-type > div{/*Première Section "Hébergements" et Les plus populaires*/
    display: flex;
}

article{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 57.4em;
    padding: 6.5em 1.5em 0 1em;
    border-radius: 20px;
    background-color: #F2F2F2;
}

article figure{
    width: 16.45em;
    height: 14em;
    margin: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 18px -3px #B4B9BA;
}

article figure img{     /*Recouvrement des images dans figure(le contenant)*/
    width: 100%;
    height: 7.9em;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}

article figcaption{     /*Habillage CSS des légendes*/
    position: relative;
    bottom: 0.3em;
    width: 17.95em;
    height: 5.3em;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 0 0 20px 20px;
    font: 0.9em 'Raleway', sans-serif;
    background-color: #FFFFFF;
}

article figcaption h3{
    font: bolder 1.3em 'Raleway', sans-serif;
    line-height: 0;
    margin-top: 0em;
}

article figure p:last-of-type{
    margin-top: 0.3em;
    font: bolder 0.85em 'Raleway', sans-serif;
}

article > p{
    position: relative;
    right: 17em;
    bottom: 1.3em;
    align-self: center;
    font: bolder 1.3em 'Raleway', sans-serif;
}

figcaption p{
    font: 1.1em 'Raleway', sans-serif;
}

aside figcaption p:last-child{
    margin-top: 3.5em;
    font: 0.8em 'Raleway', sans-serif;
}

.fa-star-full{
    color:#0065FC;
}

.fa-star-empty{
    color: #F2F2F2;
}

aside{      /*Disposition des éléments du aside*/
    display: flex;
    flex-direction: column;
    width: 32em;
    margin-left: 3em;
    border-radius: 20px;
    background-color: #F2F2F2;
}

aside h2{
    font: bold 1.4em 'Raleway', sans-serif;
    margin: 2em 0 0.7em 2.5em;
}

aside h2::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1em;
    content:"\f201";
    margin-left: 7.3em;
}

aside div{      /*Disposition des hébergements dans la div du aside*/
    display: flex;
    flex-direction: column;
}

aside figure {
    display: flex;
    height: 11em;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 18px -3px #B4B9BA;
}

aside figure:last-of-type{
    margin-bottom: 3em;
}

aside img{
    width: 10em;
    height: 11em;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

aside figcaption{
    height: 10em;
    padding: 1em 2em 0 2em;
    font: 1em 'Raleway', sans-serif;
    line-height: normal;
    border-radius: 0 15px 15px 0;
    background-color: #FFFFFF;
}

aside h3{
    margin-top: 0.5em;
}

body section:nth-child(3){
    margin-top: 2em;
}

body section:nth-child(3) figure{
    margin: 0;
    box-shadow: 5px 5px 18px -3px #B4B9BA;
}

body section:nth-child(3) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section:nth-of-type(2) h2{
    font: bold 1.2em 'Raleway', sans-serif;
    margin: 2.3em 0 1.5em 0;
}

.gridSectionDeux{       /*Disposition des images de la section 2 par un display:grid*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 11em 1em 10em;
    grid-gap: 3em;
}

.gridSectionDeux figure, img{
    border-radius: 20px;
}

.gridSectionDeux figcaption{
    position: relative;
    bottom: 5em;
    height: 3.8em;
    padding-left: 5%;
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 5px 18px -3px #B4B9BA;
    background-color: #FFFFFF;
    font: 0.9em 'Raleway', sans-serif;
}

.gridSectionDeux figcaption h3{
    padding-top: 1em;
}

#ImageOne{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#ImageTwo{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#ImageThree{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#ImageFour{
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

#ImageFive{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#ImageSix{
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    padding: 0 3%;
    background-color: #F2F2F2;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer div p{
    line-height: 0.1em;
}
/*Fin du Footer*/


/*Grand écran*/
@media screen and (min-width: 1920px){

    .logo{
        width: 200px;
    }

    nav ul{
        width: 42em;
        padding-right: 2em;
    }
    
    nav ul li{
        font: 1.7em 'Raleway', sans-serif;
    }

    nav ul li a:hover{
        border-top: 4px solid  #0065FC;
    }

    h1{
        font: bold 2em 'Raleway', sans-serif;
    }

    h1 + p{
        font: 1.6em 'Raleway', sans-serif;
    }

    form:first-of-type::before{
        font-size: 2em;
    }

    input[type="text"]{
        width: 40em;
        height: 5.7em;
        border: 1px solid #F2F2F2;
    }

    input[type="submit"]{
        height: 2.8em;
        font-size: 1.8em;
    }

    form p{
        font-size: 1.7em;
    }

    form > label::before{
        transform: translateX(-0.5em);
    }

    label[for]{
        padding-right: 1.1em;
        border-radius: 40px;
        font-size: 1.7em;
    }

    header p:last-child{
        font-size: 1.5em ;
    }

    main section > h2{
        font-size: 1.7em;
    }

    article{
        width: 66em;
        padding-top: 7.5em
    }

    article figure{
        width: 19em;
        height: 19em;
    }
    
    article figure img{
        height: 10.9em;
    }

    article figure p:last-of-type{
        font-size: 1em;
    }
    
    article figcaption{
        width: 15.3em;
        font-size: 1.2em;
    }
    
    article figcaption h3{
        font: bolder 1.3em 'Raleway', sans-serif;
        line-height: 0;
        margin-top: 0em;
    }
    
    article > p{
        right: 13em;
        bottom: 1em;
        font-size: 1.8em;
    }

    aside{
        width: 44em;
    }

    aside h2{
        font-size: 1.7em;
    }

    aside h2::after{
        margin-left: 12.5em;
    }

    aside figure{
        height: 14em;
    }

    aside img{
        width: 17em;
        height: 14em;
    }

    aside figcaption{
        width: 14em;
        height: 9.9em;
        font-size: 1.3em;
    }

    aside figcaption p:last-child{
        margin-top: 3em;
        font-size: 0.9em;
    }

    aside figure:nth-of-type(odd) p:last-of-type{
        margin-top: 3em;
    }

    section:last-of-type h2{
        font-size: 2em;
    }

    .gridSectionDeux{
        grid-template-rows: 15em 5em 14em;
    }

    .gridSectionDeux figcaption{
        bottom: 4.5em;
        height: 3.8em;
        font-size: 1.5em;
    }

    footer{
        font-size: 1.6em;
    }

}


/*Tablette paysage*/
@media screen and (min-width: 800px) and (max-width: 1024px){

    nav ul li a:focus{
        color:  #0065FC;
        border-top: 2px solid  #0065FC;
        margin-top: 3em;
    }

    main section > div{
        display: flex;
        flex-direction: column-reverse;
    }

    main section > h2{
        top: 22.5em;
    }

    aside{
        width: auto;
        margin: 0 0 1em 0;
    }

    aside h2::after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1em;
        content: "\f201";
        margin-left: 29.8em;
    }

    aside div{
        justify-content: space-around;
        flex-direction: row;
    }

    aside figure{
        display: flex;
        flex-direction: column;
        width: 17.55em;
        height: 15em;
        margin-right: 0;
        margin-left: 0;
        border-radius: 20px;
    }

    aside img{
        width: 100%;
        height: 7.9em;
        border-radius: 20px 20px 0 0;
    }

    aside figcaption{
        position: relative;
        bottom: 0.2em;
        height: 6.5em;
        padding-top: 1.2em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        border-radius: 0 0 15px 15px;
        font: 0.9em 'Raleway', sans-serif;
    }

    aside figure figcaption h3{
        font: bolder 1.3em 'Raleway', sans-serif;
        line-height: normal;
        line-height: 0;
        margin-top: 0 ;
    }

    aside figure:nth-of-type(2) figcaption{
        height: 7.2em;
        padding-top: 0.5em;
    }

    aside figure:nth-of-type(2) figcaption h3{
        line-height: normal;
    }

    aside figure:nth-of-type(2) figcaption p{
        line-height: 0;

    }

    aside figure p:last-of-type{
        margin-top: 3em;
        font: bolder 0.85em 'Raleway', sans-serif;
    }

    aside figure:nth-of-type(2) figcaption p:last-of-type{
    margin-top: 1.9em;
    }

    article{
        width: auto;
        height: 37em;
    }

    article figure{
        width: 17.55em;
    }

    article figcaption{
        width: 19.15em;
    }

    .gridSectionDeux{
        display: flex;
        flex-wrap: wrap;
    }

    .gridSectionDeux figure{
        width: 28em;
        height: 18em;
    }

}

/*Tablette portrait*/
@media screen and (min-width: 400px) and (max-width: 799px){

    nav ul{
        justify-content: flex-end;
    }

    nav ul li a:focus{
        color:  #0065FC;
        border-top: 2px solid  #0065FC;
        margin-top: 3em;
    }

    form:last-of-type{
        flex-wrap: wrap;
    }

    form:last-of-type label:last-of-type{
        margin-top: 0.5em;
        margin-left: 9%;
    }

    main section > h2{
        top: 37em;
    }

    main section > div{
        display: flex;
        flex-direction: column-reverse;
    }

    main section aside div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    aside figure:first-of-type{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
    }

    aside figure:nth-of-type(2){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: center;
    }

    aside figure:last-of-type{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: center;
    }

    aside{
        width: auto;
        margin: 0 0 1em 0;
    }

    aside h2::after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1em;
        content: "\f201";
        margin-left: 18.2em;
    }

    aside figure{
        display: flex;
        flex-direction: column;
        width: 17.55em;
        height: 15em;
        margin-right: 0;
        margin-left: 0;
        border-radius: 20px;
    }

    aside img{
        width: 100%;
        height: 7.9em;
        border-radius: 20px 20px 0 0;
    }

    aside figcaption{
        position: relative;
        bottom: 0.2em;
        height: 6.5em;
        padding-top: 1.2em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        border-radius: 0 0 15px 15px;
        font: 0.9em 'Raleway', sans-serif;
    }

    aside figure figcaption h3{
        font: bolder 1.3em 'Raleway', sans-serif;
        line-height: normal;
        line-height: 0;
        margin-top: 0 ;
    }

    aside figure:nth-of-type(2) figcaption{
        height: 7.2em;
        padding-top: 0.5em;
    }

    aside figure:nth-of-type(2) figcaption h3{
        line-height: normal;
    }

    aside figure:nth-of-type(2) figcaption p{
        line-height: 0;
    }

    aside figure p:last-of-type{
        margin-top: 3em;
        font: bolder 0.85em 'Raleway', sans-serif;
    }

    aside figure:nth-of-type(2) figcaption p:last-of-type{
        margin-top: 1.9em;
    }

    article{
        width: auto;
        margin-top: 2em;
        margin-right: 0;
        margin-left: 0;
    }

    article figure{
        width: 17.55em;
        margin: 1em;
    }

    article figcaption{
        width: 19.15em;
    }

    article > p{
        right: 12em;
        bottom: 0.3em;
    }

    .gridSectionDeux{
        display: flex;
        flex-wrap: wrap;
    }

    .gridSectionDeux figure{
        width: 21em;
        height: 18em;
    }
}

/*Iphone*/
@media screen and (max-width: 399px){


    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }

    #menuDesktop{
        display: none;
    }

    #menuIPhone{
        display: block;
        width: 100%;
    }

    nav ul{
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }

    nav ul li{
        width: 50%;
        padding: 0;
    }

    nav ul li:first-of-type{
        text-align: start;
        align-self: center;
    }

    .logo{
        margin-left: 1em;
    }

    nav ul li:nth-of-type(2){
        text-align: end;
        align-self: center;
    }

    nav ul li:nth-of-type(2) a{
        font: bold 1.1em 'Raleway', sans-serif;
        color:  #0065FC;
    }

    nav ul li:nth-of-type(1n+3){
        font: 1.1em 'Raleway', sans-serif;
    }

    nav ul li:nth-of-type(1n+3) a{
        display: block;
        height: 0em;
        color: black;
        border-bottom: 3px solid #F2F2F2;
        font: 1em 'Raleway', sans-serif;
    }

    nav ul li:nth-of-type(1n+3) a:focus{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }

    h1{
        margin-top: 1.5em;
        padding-left: 1.1em;
        font:  bold 1.3em 'Raleway', sans-serif;
    }

    h1 + p{
        text-align: start;
        margin-top: 0;
        margin-left: -1em;
    }

    form:first-of-type::before{
        width: 3em;
        height: 3em;

    }

    form:first-of-type{
        display: flex;
        margin-bottom: 0;
    }

    input[type="text"]{
        width: 77%;
        height: 3.3em;
        margin-right: -3%;
    }


    input[type="submit"]{
        display: none;       
    }

    .fa-search::before{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Font Awesome 5 Free";
        width: 3em;
        height: 3em;
        font-weight: 900;
        font-size: 1em;
        color: #FFFFFF;
        background-color: #0065FC;
        content:"\f002";
        border-radius: 10px;
    }

    form:last-of-type{
        display: flex;
        flex-wrap: wrap;
        padding-left: 1em;
    }

    form p{
        margin-right: 41%;
    }

    label[for]{
        margin-top: 1%;
        margin-bottom: 1%;
        padding-right: 1em;
    }

    header p:last-child{
        margin-right: 0.5em;
        margin-left: 1em;
    }

    header p:last-child::before{
        width: 1.4em;
    }

    section, section div, article, .gridSectionDeux, footer{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    main section > div{
        flex-direction: column-reverse;
    }

    aside, article{
        width: auto;
        padding: 0;
        border-radius: 0;
    }

    h2{
        margin-bottom: 1.5em;
    }

    figcaption p{
        font: 1em 'Raleway', sans-serif;
    }

    main section > h2{
        top: 34.5em;
        margin-top: 1em;
        padding-left: 1em;
    }

    aside{
        margin-bottom: 4em;
        margin-left: 0;
        padding-bottom: 2em;
    }

    aside h2{
        margin-left: 0.5em;
    }
    
    aside h2::after{
        margin-left: 8.5em;
        font-size: 1.1em;
    }

    aside figure, article figure{
        margin: 1% 1em;
    }

    aside figure{
        display: flex;
        height: 9em;
    }

    aside img{
        width: 8.5em;
        height: 9em;
        border-radius: 15px 0 0 15px;
    }

    aside figcaption{
        height: 8.5em;
        padding: 0.5em 0 0 1em;
    }

    aside h3{
        margin-top: 0;
    }
    
    aside figcaption p:last-child{
        margin-top: 2.5em;
    }

    article{
        background-color: #FFFFFF;
    }

    article figure{
        width: 20em;
        height: 12em;
        margin: 0.6em 1.5em;
    }

    article img{
        width: 97%;
        height: 7.9em;
    }

    article figcaption{
        width: 21.9em;
        height: 4.3em;
        bottom: 1.3em;
    }

    article p:first-of-type{
        margin-bottom: 0;
    }

    article > p{
    position: static;
    align-self: start;
    margin-left: 0.5em;;
    }

    body section:nth-child(3){
        margin-left: 1em;
        margin-right: 1em;
    }

    body section:nth-child(3) figure{
        width: 20em;
        height: 12em;
        margin: 0em 0.8em;
    }

    body section:nth-child(3) figcaption {
        font: 1em 'Raleway', sans-serif;
    }

    footer{
        margin: 5em 0 0 0;
        padding: 1em 0 2em 1em;
    }
}